@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
  
  margin: 0px !important;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #49c5b6;
  color: #FFFFFF !important;
}

.body {
  background-color: #49c5b6;
  margin: 0px !important;
}

.font {
  color:#FFFFFF!important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
}

.submitButton {
  margin: 1.3vmin !important;
  font-size: 3vmin !important;
  background-color: #17252a !important;
  border-radius: 5% important;
}

.logout {
  margin: 1rem !important;
  font-size: 0.75rem !important;
  background-color: #17252a !important;
  border-radius: 20% important;
  position: absolute;
  margin-top: -5vmin !important;
}

.wrapper {
    /* height: 100vh;
    min-height: 100vh; */
  padding: 2rem;
  color:#FFFFFF!important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  font-size: 7.5vmin;
  margin: 0;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 5vmin;
  margin: 0;
  margin-bottom: 1.5rem;
}

.formWrapper {
  color:#FFFFFF!important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  padding: 2rem !important;
  background-color: #2B7a78 !important;
  /* max-width: 75vw; */
  width: 60vw!important;
  border-radius: 2rem !important;
}

&.MuiTextField-root {
  background-color: #2B7a78;
}

.App-logo {
  height: auto;
  width: 8.5rem;
}

.heading{
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.hellobutton {
  width: 50vw;
  height: 4.5rem;
  background-color: #17252A !important;
  border-radius: 1.5rem !important;
  font-size: 2.6vw !important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  text-transform: none !important;
  margin: 0.5rem !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.foodcard {
  background-color: #17252A !important;
  border-radius: 1.5rem !important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  text-transform: none !important;
  margin: 0.5rem !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.foodwrapper {
  max-width: 85vw;
  width: 100vw;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  
  justify-content: space-evenly;
}