@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
  
  margin: 0px !important;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #49c5b6;
  color: #FFFFFF !important;
}

.body {
  background-color: #49c5b6;
  margin: 0px !important;
}

.font {
  color:#FFFFFF!important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
}

.submitButton {
  margin: 1rem !important;
  font-size: 1.25rem !important;
  background-color: #17252a !important;
  border-radius: 5% important;
}

.wrapper {
    /* height: 100vh;
    min-height: 100vh; */
  padding: 2rem;
  color:#FFFFFF!important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  font-size: clamp(6vmin, 8vmin, 6.75vmin);
  margin: 0;
  margin-bottom: 1.5rem;
}

.formWrapper {
  color:#FFFFFF!important;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  padding: 2rem !important;
  background-color: #2B7a78 !important;
  /* max-width: 75vw; */
  width: 60vw!important;
  border-radius: 2rem !important;
}

&.MuiTextField-root {
  background-color: #2B7a78;
}